<div class="top-menu">
  <img class="logo"
       src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">
</div>

<div class="courses" *ngIf="courses$ | async as courses"  #container>
  <app-course-card
    (courseSelected)="onCourseSelected($event)"
                   [course]="courses[0]"  #cardRef1  ></app-course-card>
  <app-course-card
    (courseSelected)="onCourseSelected($event)"
                   [course]="courses[1]" #cardRef2 ></app-course-card>

</div>
